<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
  </settings>

  <providers embedded="AspNetCoreWebAPI.DataAccess.QBatis.Config.providers.config, AspNetCoreWebAPI" />
  
  <database>
    <provider name="${provider}"/>
    <dataSource name="default" connectionString="${connectionString}"/>
  </database>
  <alias>
    <typeAlias alias="Customer" type="AspNetCoreWebAPI.Models.Customer, AspNetCoreWebAPI"/>
  </alias>
  <sqlMaps>
    <sqlMap embedded="AspNetCoreWebAPI.DataAccess.Qbatis.SqlMaps.Customers.xml, AspNetCoreWebAPI"/>
  </sqlMaps>
</sqlMapConfig>